<%- include('partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Click the navigation links above to learn more about each band/singer.</p>
</main>
</body>
</html>