<%- include('partials/header') %>
    <h1><%= title %></h1>
    <h2>Paramore</h2>
    <p>Paramore is my favorite band. I started listened to them when I was a teenager.<br>
       My favorite songs from them are: 
    </p>
    <ul>
        <li>Big Man</li>
        <li>News</li>
        <li>Misery Bussiness</li>
    </ul>
</main>
</body>
</html>