<%- include('partials/header') %>
    <h1><%= title %></h1>
    <h2>Carrie Underwood</h2>
    <p>Carrie Underwood is a country singer. I started listening to her after I moved to the USA<br>
    My favorite songs from her are: </p>
    <ul>
        <li>Blown Away</li>
        <li>Before He Cheats</li>
        <li>Church Bells</li>
    </ul>
</main>
</body>
</html>