<%- include('partials/header') %>
    <h1><%= title %></h1>
    <h2>Eminem</h2>
    <p>Eminem is a rapper that I listen to since I was a teenager. I'm not a big rap fan, but I really like Eminem<br>
    My favorite songs from him are:</p>
    <ul>
        <li>The Real Slim Shade</li>
        <li>Mockingbird</li>
        <li>Lose Yourself</li>
    </ul>
</main>
</body>
</html>