<%- include('partials/header') %>
    <h1><%= title %></h1>
    <h2>AJR</h2>
    <p>AJR is a 3 person band. They are 3 brothers that got together and formed the band<br>
        They are an indie band that I started listening in 2020 and became one of my favorites. My favorite songs are:
    </p>
    <ul>
        <li>Weak!</li>
        <li>Karma</li>
        <li>Burn the House Down</li>
    </ul>
</main>
</body>
</html>